{% extends "base.html" %}
{% load static bootstrap5 %}

{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="d-flex justify-content-center h-100 mt-5">
<div class="card">
    <div class="card-header">
        <h3>Forgotten your password?</h3>
    </div>
    <div class="card-body">
        <span>Enter your e-mail address to obtain a new password.</span>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Send e-mail" class="btn btn-primary border border-1">
        </form>
    </div>
</div>
</div>
{% endblock %}