{% extends "base.html" %}
{% load static bootstrap5 %}

{% block title %}Change your password{% endblock %}
{% block content %}

    <div class="d-flex justify-content-center h-100 mt-5">
        <div class="card">
            <div class="card-header">
                <h3>Change your password</h3>
            </div>
            <div class="card-body">
                <span>Use the form below to change your password.</span>
                <form method="post">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary border border-2">
                            Change password
                        </button
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}