{% extends "base.html" %}
{% load static bootstrap5 %}

{% block title %}Reset your password{% endblock %}
{% block content %}

<div class="d-flex justify-content-center h-100 mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Reset your password</h3>
        </div>
        {% if validlink %}
            <div class="card-body">
                <p>Please enter your new password twice:</p>
                <form method="post">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    {% buttons %}
                    <button type="submit" class="btn btn-primary border border-1">
                        Change password
                    </button>
                    {% endbuttons %}
                </form>
            </div>
        {% else %}
            <p>
                The password reset link was invalid, possibly because it has already
                been used. Please request a new password reset.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}